<nav class="navbar navbar-expand-lg bg-white app-navbar">
    <div class="container-fluid px-4 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center gap-4">
            <a class="navbar-brand fw-semibold mb-0" routerLink="/files">
                <span class="me-2 text-primary" style="font-size: 1.5rem;">💾</span>
                <strong>mycloud</strong>
            </a>

            <div class="d-flex gap-3">
                <a class="nav-link text-dark" routerLink="/files" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Files
                </a>
                <a class="nav-link text-dark" routerLink="/new-file" routerLinkActive="active">
                    New file
                </a>
            </div>
        </div>

        <span class="fw-medium text-primary" style="margin-left: auto; margin-right: 40px;">Hello {{ username ||"tin"
            }}!</span>
    </div>
</nav>